@CHARSET "ISO-8859-1";

.prebuscar {
	width: 60%;
	height: auto;
	background-color: #06141D;
	margin: 30px auto 20px auto;
	text-align: center;
	padding: 10px 10px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
}

.prebuscar .buscarBtn {
	background-color: #537B9F;
	text-shadow: 1px 1px 1px #3E587B;
	border: 1px solid #3E587B;
	padding: 8px 30px;
	font-size: 15px;
	background-image:url('../imagenes/rmm-img/sapphire-menu-bg.png');
	background-repeat:repeat-x;
	color: #fff;
	cursor: pointer;	
	transition: 0.3s;
	font-size: 15px;
	border-radius: 5px;
}
.prebuscar .buscarBtn:hover {
	background:#3e597b !important;
}
.prebuscar .buscarLabel {
	cursor: default;
	color: #fff;
	margin-bottom: 10px;
}
.buscarLabelRow {
	text-align: left;
	
}
#achicoEdad {
	width: 200px;
	margin: 0 auto;
}
.separadorBuscar {

	margin: 0px auto;
	border-bottom: 1px #222 solid;
	max-width: 400px;
	padding-top: 5px;
	cursor: default;
}
.BselSexo {
	width: 40px;
	
}
.BcontSelSexo {
	background-color: #fff;
	display: inline-block;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 0px #000, 0px 0px 3px 0px #fff;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.BcontSelSexo:hover {
	box-shadow: 0px 0px 1px 0px #000, 0px 0px 4px 0px #fff, inset 0px 0px 3px 0px #00BCDE;
}
.BcontSelSexo.BcontSelSexoSeleccionado {
	box-shadow: 0px 0px 1px 0px #000, inset 0px 0px 3px 0px #00BCDE, 0px 0px 5px 0px #00BCDE !important;
}
#bBuscarCarrera, #bBuscarOrientacion, #bBuscarTags {
width: 350px;
max-width: 80%;	
margin: 0 auto;	
background-color: #fff;

}

@media only screen and (max-device-width: 600px) {
	.prebuscar {
		width: 90% ;
		height: auto;
		background-color: #06141D;
		margin: 20px auto 20px auto;
		text-align: center;
		padding: 10px 10px;
		box-shadow: 0px 0px 10px #000;
		border-radius: 5px;
	}
	
}


/*********************************************************/

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
.limitRange {
	max-width: 300px;
	margin: 0 auto;
}
#bPorcentaje {
	color: #fff;
	
}
