@CHARSET "ISO-8859-1";

.prebuscar {
	max-width: 80% ;
	height: auto;
	background-color: #06141D;
	margin: 30px auto 20px auto;
	text-align: center;
	padding: 10px 10px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
}

.prebuscar .buscarBtn {
	background-color: #537B9F;
	text-shadow: 1px 1px 1px #3E587B;
	border: 1px solid #3E587B;
	padding: 8px 30px;
	font-size: 15px;
	background-image:url('../imagenes/rmm-img/sapphire-menu-bg.png');
	background-repeat:repeat-x;
	color: #fff;
	cursor: pointer;	
	transition: 0.3s;
	font-size: 15px;
	border-radius: 5px;
}
.prebuscar .buscarBtn:hover {
	background:#3e597b !important;
}
.prebuscar .buscarLabel {
	cursor: default;
	color: #fff;
}
.buscarLabelRow {
	text-align: left;
	
}