@CHARSET "ISO-8859-1";

body {
	background-color: #1D2226;
	padding: 0px;
	margin: 0 auto;
}

.preHeader {
	background-color: #063049;
	width: 100%;
	height: 20px;
	
}
header {
	width: 100%;
	background-color: #06141D;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top:1px #273238 solid;
	border-bottom: 1px #00BCDE solid; 
	border-right: 1px #252525 solid;
	border-left: 1px #252525 solid;
}
#body {
	width: 100%;
	margin: 0 auto;
	
}
.contTabla {
	width: 100%;
	margin: 0 auto;
	background-color: #f00;	
}
.buscarTable {
	margin: 10px auto 0px auto;
	display: block;
	
}