@CHARSET "ISO-8859-1";

body {
	background-color: #1D2226;
	padding: 0px;
	margin: 0px auto;
	font-family: Helvetica, Arial, sans-serif;
}
html,body {margin:0; -webkit-backface-visibility:hidden;}

.preHeader {
	background-color: #063049;
	width: 100%;
	height: 20px;
	
}
header {
	width: 100%;
	background-color: #06141D;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top:1px #273238 solid;
	border-bottom: 1px #00BCDE solid; 
	border-right: none;
	border-left: none;
}
#cuerpo {
	width: 80%;
	margin: 0px auto 10px auto;
	
}
.contTabla {
	width: 100%;
	margin: 0 auto;
	background-color: #f00;	
}
.buscarTable {
	margin: 10px auto 0px auto;
	display: block;
}

/* ********** footer ********** */

#footer {

	width: 100% !important;
	background-color: #06141D;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top:1px #273238 solid;
	color: #999;
	font-size: 0.8em;
	text-align: center;
	font-style: italic;
	cursor: default;
}
/* ********** Loading ********** */
.loading {
	width: auto;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	display: none;
}
/* ********** Alturas ********** */
.A10 {
	height: 10px;
}
.A20 {
	height: 20px;
}
.A30 {
	height: 30px;
}
.A40 {
	height: 40px;
}
.A50 {
	height: 50px;
}
.A60 {
	height: 60px;
}
.A70 {
	height: 70px;
}
.A80 {
	height: 80px;
}
.A90 {
	height: 90px;
}
.A100 {
	height: 100px;
}
/* Alturas mínimas */
.AM10 {
	min-height: 10px;
}
.AM20 {
	min-height: 20px;
}
.AM30 {
	min-height: 30px;
}
.AM40 {
	min-height: 40px;
}
.AM50 {
	min-height: 50px;
}
.AM60 {
	min-height: 60px;
}
.AM70 {
	min-height: 70px;
}
.AM80 {
	min-height: 80px;
}
.AM90 {
	min-height: 90px;
}
.AM100 {
	min-height: 100px;
}